#!/usr/bin/make -f
BUILD4=$(CURDIR)/debian/php4-suhosin
BUILD5=$(CURDIR)/debian/php5-suhosin
PHP_EX4=$(shell /usr/bin/php-config4 --extension-dir)
PHP_EX5=$(shell /usr/bin/php-config5 --extension-dir)

#export DH_VERBOSE=1

DEB_HOST_GNU_TYPE    ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

CFLAGS += -O2 -Wall -fno-strict-aliasing

# Enable IEEE-conformant floating point math on alphas (not the default)
ifeq (alpha-linux-gnu,$(DEB_HOST_GNU_TYPE))
	CFLAGS += -mieee
endif

ifeq ($(DEB_HOST_GNU_TYPE), $(findstring $(DEB_HOST_GNU_TYPE), ia64-linux-gnu powerpc64-linux-gnu))
	CFLAGS += -g
else
	CFLAGS += -gstabs
endif

build:
	@echo "Not use this."

build-stamp:
	dh_testdir
	touch build-stamp

build-stamp-php4: build-stamp
	-$(MAKE) clean
	phpize --clean
	phpize4
	chmod a+x ./configure
	./configure --prefix=$(BUILD4)/usr --with-php-config=/usr/bin/php-config4
	$(MAKE) DESTDIR=$(BUILD4)
	touch build-stamp-php4

build-stamp-php5: build-stamp
	-$(MAKE) clean
	phpize --clean
	phpize5
	chmod a+x ./configure
	./configure --prefix=$(BUILD5)/usr --with-php-config=/usr/bin/php-config5
	$(MAKE) DESTDIR=$(BUILD5)
	touch build-stamp-php5

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp build-stamp-php5 build-stamp-php4
	-$(MAKE) clean
	# to make pbuilder happy
ifeq ($(shell which phpize),/usr/bin/phpize)
	phpize --clean
endif
	dh_clean

install: build-php4 build-php5

build-php4: DH_OPTIONS=-pphp4-suhosin
build-php4: build-stamp-php4
	dh_testdir
	dh_testroot
	dh_installdirs
	install -D -m 644 modules/suhosin.so debian/php4-suhosin$(PHP_EX4)/suhosin.so
	install -D -m 644 debian/suhosin.ini debian/php4-suhosin/etc/php4/conf.d/suhosin.ini

build-php5: DH_OPTIONS=-pphp5-suhosin
build-php5: build-stamp-php5
	dh_testdir
	dh_testroot
	dh_installdirs
	install -D -m 644 modules/suhosin.so debian/php5-suhosin$(PHP_EX5)/suhosin.so
	install -D -m 644 debian/suhosin.ini debian/php5-suhosin/etc/php5/conf.d/suhosin.ini

binary-indep:

binary-arch-php4: DH_OPTIONS='--package=php4-suhosin --no-package=php5-suhosin'
binary-arch-php4: build-php4
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installchangelogs Changelog
	dh_installdebconf
	dh_installdocs CREDITS 
	dh_install
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb --package=php4-suhosin --no-package=php5-suhosin
	dh_shlibdeps
	echo "php:Depends=phpapi-`php-config4 --phpapi`" >> debian/php4-suhosin.substvars
	dh_gencontrol --package=php4-suhosin --no-package=php5-suhosin
	dh_md5sums
	dh_builddeb --package=php4-suhosin --no-package=php5-suhosin

binary-arch-php5: DH_OPTIONS='--package=php5-suhosin --no-package=php4-suhosin'
binary-arch-php5: build-php5
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installchangelogs Changelog 
	dh_installdocs --package=php5-suhosin CREDITS
	dh_install
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb --package=php5-suhosin --no-package=php4-suhosin
	dh_shlibdeps
	echo "php:Depends=phpapi-`php-config5 --phpapi`" >> debian/php5-suhosin.substvars
	dh_gencontrol --package=php5-suhosin --no-package=php4-suhosin
	dh_md5sums
	dh_builddeb --package=php5-suhosin --no-package=php4-suhosin

binary-arch: binary-arch-php4 binary-arch-php5
binary: binary-indep binary-arch
.PHONY: build-php4 build-php5 clean binary-indep binary-arch binary install
